*{margin:0px;padding:0px;}
ul,li{list-style:none;}
a,a:hover{text-decoration:none;}
body{font-family:"微软雅黑","黑体","宋体";font-size:14px;color:#e0e0e0;}
/*pcNav*/
#pcNav{background:rgba(0,0,0,0.42);width:100%;height:auto;}
#pcNav .type,.enter{height:auto;}
#pcNav .type ul li,#pcNav .enter ul li{padding:0px;}
#pcNav ul li a{color:#9d9d9d;}
#pcNav .type ul li{font-size:1.3em;text-align:center;height:100px;}
#pcNav .type .nav a{display:block;height:100px;padding-top:40px;}
#pcNav .type .logo img{height:100px;}
#pcNav .enter ul li{height:30px;margin-top:70px;}
#pcNav .enter ul li a{height:30px;display:block;text-align:center;padding-top:4px;}
/*/pcNav*/
/*phoneNav*/
.navbar-default{background:rgba(0,0,0,0.42);border:none;}
.navbar-default .navbar-nav>li>a{color:#8e8e8e;}
.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:focus{color:white;background-color:transparent;background:#008cba;}
.navbar-brand{padding:0px;}
/*/phoneNav*/
#sosuo{padding:10px 0px 10px 5px;border-bottom:1px solid #8e8e8e;height:55px;background:rgba(0,0,0,0.42);width:100%;}
#foot{background:black;height:50px;color:#3c3c3c;line-height:50px;margin-top:10px;border-top:1px solid #8e8e8e;}
/*backTop*/
#backTop{background:#272727;font-size:30px;height:50px;width:50px;border-radius:25px;color:#9d9d9d;text-align:center;padding-top:8px;position:fixed;right:15%;bottom:150px;z-index:3;display:none;}
#backTop:hover{background:#0d91d6;color:white;}
/*面包屑导航*/
.breadcrumb>.active{color:#e0e0e0;}
.breadcrumb{font-size:18px;background:rgba(0,0,0,0.12);color:white;}
/*背景图片*/
.scanlines {position: fixed;top: 0px;left: 0px;width: 100%;height:100%;z-index: -1;background: url(../images/tile.png);}
/*用户详请*/
#userInfo{height:140px;width:280px;position:absolute;z-index:3;border-radius:5px;background:url(../images/userInfo-bg.png) repeat;color:white;padding:5px 10px;display:none;}
#userInfo .top{height:55px;}
#userInfo .top img{border:2px solid #adadad}
#userInfo .content{height:55px;width:100%;}
#userInfo .foot{height:20px;width:100%;}
#userInfo .bottom{border-width:8px 7px 0px 7px;border-color:#e0e0e0 transparent transparent transparent;border-style:solid;position:relative;top:10px;left:-5px;}
/*我要提问*/
#ask-question{background:rgba(13,145,214,0.8);font-size:30px;height:60px;width:60px;border-radius:30px;color:#eee;text-align:center;padding-top:8px;position:fixed;right:42%;bottom:10px;z-index:3;padding-top:13px}
#content{margin-top:10px;padding:0px;}

@media (max-width:767px){#sosuo .col-sm-10{padding:0px;}}